@using LAQY.Resources
@{
    ViewBag.Title = "AboutUs";
}

<div class="col-md-12 col-sm-12">
    <div class="section-title">
        <h1 class="heading bold">@General.AboutUs</h1>
        <hr>
    </div>
</div>
<div class="choose" id="about">
    <div class="container">
        <div class="agileits-heading wthree-heading">
            <h3>@General.chooseUs</h3>
            <p>@General.Because</p>
        </div>
        <div class="wthree-choose-grids">
            <div class="col-md-4 wthree-choose-grid">
                <a href="#"><img alt="@General.facebook" src="~/Image/3.png" class="img-circle" /><span class="badge"></span></a>
                <h5>@General.ShowF</h5>
                <p>@General.ShowMsg</p>
            </div>
            <div class="col-md-4 wthree-choose-grid">
                <a href="#"><img alt="@General.twiter" src="~/Image/4.png" class="img-circle" /><span class="badge"></span></a>
                <h5>@General.ShowT</h5>
                <p>@General.ShowMsg</p>
            </div>
            <div class="col-md-4 wthree-choose-grid">
                <a href="#"><img alt="@General.Instagram" src="~/Image/1.png" class="img-circle" /><span class="badge"></span></a>
                <h5>@General.ShowI</h5>
                <p>@General.ShowMsg</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>