@using LAQY.Resources
@{
    ViewBag.Title = "ContactUs";
}
<div class="container">
    <div class="col-md-12 col-sm-12">
        <div class="section-title">
            <h1 class="heading bold">@General.ContactUs</h1>
            <hr>
        </div>
    </div>
    <div class="container text-center">
        <form action="" id="myform" method="post" class = "form-horizontal"> 
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 control-label bb">@General.Name <span class="glyphicon glyphicon-user"></span></label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" required name="name" placeholder="@General.Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 control-label bb">@General.Email</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" required name="Email" placeholder="@General.Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 control-label bb">@General.Subject</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" required name="Subject" placeholder="@General.Subject">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 control-label bb">@General.Message</label>
                <div class="col-sm-4">
                    <textarea cols="50" class="form-control" placeholder="@General.Message" rows="10" required id="Message" name="Message"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-1">
                    <button type="submit" class="btn btn-info">@General.SendMessage</button>
                </div>
            </div>
        </form>
    </div>
</div>


