@model IEnumerable<LAQY.Models.Product>
@using LAQY.Resources
@{
    ViewBag.Title = "Home";
}
<div class="modal fade" id="LogModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@General.Login</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class='row'>
                        <div class='col-md-4'>
                            <div class='form-row'>
                                <div class='col-xs-12 form-group'>
                                    <label class='control-label'>@General.Email</label>
                                    <input class="form-control" placeholder="@General.Email" type="email" id="email" />
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='col-xs-12 form-group'>
                                    <label class='control-label'>@General.Password</label>
                                    <input class="form-control" placeholder="@General.Password" type="password" id="password" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="LogBtn">@General.Login</button>
                <button class="btn btn-warning" id="RegBtn" onclick="@("window.location.href='" +Url.Action("Sign","Users",null)+"'");">@General.Register</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="QtyModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@General.Quantity</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group col-lg-offset-5 col-lg-2">
                        <input class="form-control" min="1" type="number" id="qty" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="saveBtn">@General.ADD</button>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    @using (Html.BeginForm("Index", "Products", FormMethod.Post, new { @class = "navbar-form" }))
    {
        <div class="form-group">
            <input type="number" min="1" name="PSearch" class="form-control " required placeholder="@General.minPrice">
        </div>
        <div class="form-group">
            <input type="number" min="1" name="SSearch" class="form-control " required placeholder="@General.maxPrice">
        </div>
        <button type="submit" class="btn btn-default">@General.Search <span class="glyphicon glyphicon-search"></span></button>
    }
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="section-title">
            <h1 class="heading bold">@General.OurProducts</h1>
            <hr>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
            <div class="team-wrapper">
                <img src="@Url.Content(@item.img)" width="300" height="300" alt="@item.title">
                <div class="team-des">
                    <h5>@item.title</h5>
                    <h5>@item.price @General.SR</h5>
                    <hr>
                    <ul class="social-icon">
                        <li><a title="@General.AddCart" class="cbtn glyphicon glyphicon-shopping-cart" href="#" onclick="AddCart('@item.id')"></a> | <a title="@General.SDetails" href="#" class="cbtn glyphicon glyphicon-eye-open" onclick="@("window.location.href='" +Url.Action("Details",new { id=item.id})+"'");"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts
{
    <script type="text/javascript">
        var id = 0;
        function AddCart(iid) {
            if ('@Session["Uid"]' != "") {
                id = iid;
                $("#qty").val(1);
                $("#QtyModel").modal('show');
            }
            else {
                $("#LogModel").modal('show');
            }

        }

         $("#LogBtn").click(function () {
            if ($("#email").val() != '' && $("#password").val() != '')
            {
                var mai = $("#email").val();
            var pas = $("#password").val();
            $.ajax({
                type: "GET",
                url: '@Url.Action("Login","Users")',
                data: { "email": mai, "password": pas },
                contentType: "application/json",
                success: function (data) {
                    if (data == "user") {
                        $("#LogModel").modal('hide');
                        window.location = '/Products/Index';
                    }
                    else if (data == "inpass") {
                        toastr.warning("@General.InPassword", "LAQY");
                    }
                    else if (data == "admin") {
                        $("#LogModel").modal('hide');
                        window.location = "/AProduct/Index";
                    }
                    else {
                        toastr.error("@General.PRFirst", "LAQY");
                    }
                },
                error: function () {
                    toastr.error("@General.Error", "LAQY");
                }
            });
            }
            else {
                toastr.info("@General.FillInfo", "LAQY");
            }

        });
         $("#saveBtn").click(function () {
             if (parseFloat($("#qty").val()) > 0) {
                 $.ajax(
                     {
                         type: "POST",
                         url: '/Users/Cart/',
                         data: { ID: id, Ty: "P", Qty: $("#qty").val() },
                         success: function (data) {
                             if (data == 'ok') {
                                 $("#QtyModel").modal('hide');
                                 toastr.success("@General.AddedToCart", "LAQY");
                             }
                             else {
                                 toastr.error("@General.Error", "LAQY");
                             }
                         },
                         error: function () {
                             toastr.error("@General.Error", "LAQY");
                         }
                     });
             }
             else {
                 toastr.error("@General.NoQty", "LAQY");
             }
         });
    </script>
}
